.container{
  width: 100%;
  max-width: 768px;
  padding-bottom: 90px;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.same-as-bg {
  background-color: #efefef;
}

.img-wrap {
  padding-right: 0px;
}
.img-wrap img{
  max-width: 160px;
  max-height: 160px;
  border-radius: 50%;
  border: 4px solid white;
}

.background_ {
  font-weight: 500;
}



.info_ {
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 693px) {
  .background_{
    padding-left: 24px;

  }
  .container{
    top: 0;
}

  .img-wrap {
    display: none;
  }


}

.chip-title {
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.content_ {
  text-align:justify
}

.job-title {
  font-weight: 500;
}

.job-location {
  font-weight: 300;
}

.duration {
  font-family: Inconsolata, monospace;
  font-size: .8rem;
  text-align: right;
}

.grad_date {
    text-transform: uppercase;
    font-size: .9rem;
    display: inline-block;
    font-weight: 500;
    opacity: .7;
}


.waves-effect.waves-blue .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: rgba(25, 118,	210, 0.65);
}
